nav ul li a {
	color: #d0d0d0;
}

body {
	background-color: #eee;
}

#main {
	padding: 10px;
	text-align: center;
	margin: auto;
	width: 300px;
	height: 350px;
	background-color: #fff;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

#main img {
	height: auto;
	width: 25%;
	margin: auto;
}

.textbox {
	margin: 5px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #efefef;
	width: 200px;
	height: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

.drop_down {
	margin: 5px;
}

.button {
	background-color: #ff7b00;
	border: none;
	padding: 10px;
	width: 200px;
	margin: 20px;
	color: #fff;
}