html,body {
	font-family: 'Roboto Slab', serif;
	height: 100%;
	width: 100%;
}

nav {
	display: block;
	overflow: hidden;
	width: 70%;
	height: 6.250rem;
	margin: auto;
	line-height: 6.250rem;
	text-align: right;
	padding-top: 10px;
	font-size: 1rem;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 25px;
}

nav ul li a {
	color: #FFF;
	display: block;
	text-decoration: none;
}

nav a img {
	width: auto;
	max-height: 100%;
	float: left;
}