html,body {
	font-family: 'Roboto Slab', serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

nav {
	display: block;
	overflow: hidden;
	width: 70%;
	text-align: right;
	height: 100px;
	margin: auto;
	line-height: 100px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 25px;
	margin-top: 10px;
}

nav ul li a {
	color: #FFF;
	display: block;
	text-decoration: none;
}

nav img {
	width: auto;
	height: 100%;
	float: left;
}

#main {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 42px;
	vertical-align: middle;
	position: absolute;
	top: 100px;
	bottom: 0px;
}

.content {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.date {
	font-size: 20px;
}

.register {
	margin-top: 30px;
}

.register a {
	text-decoration: none;
	color: #fff;
	padding: 15px;
	background-color: #ff7b00;
	border-radius: 5px;
}

.register a:hover {
	background-color: #d36200; 
}